@import url('https://fonts.googleapis.com/css?family=Arial');
    


    body{
      background-color: #f2f2f2;
      font-family: 'Arial', serif;
    }

    header{
    background-color: purple;
    width: 100%;
    height:30px;
    font-size: 20px;
    text-align: end;
    padding-right: 9px; 
    padding-top: 6px;   
    position:sticky;
    top: 0px; 
	left:0px;
    margin-bottom: 20px;
	}
   
  a{
    color: white;
    margin: 8px;
    text-decoration:none;
  }
  a:hover{
    color:skyblue;
  }

  .liblogo{
    position:absolute;
    top:-12px;
    left: 13px;
    color: white;
    font-size: 20px;
    font-weight: 500;

  }

  table ,tr, td,th {
    border: solid 1px black;
    border-collapse:collapse
  }

 th, td {
  border-color: #cfcfcf;
  padding-left: 10px;
  text-align: left;
  padding-right: 30px;

}

.title{
    color:blue;
    text-decoration: underline;
}
.titleClass{
	padding-right: 0px;
}   
.thead-class{
	font-size: 17px;
}

  div{
     background-color: white;
     width: 710px;
     height: 640px;
     margin: auto;
     box-shadow: 1px 1px 6px 0 gray ;

  }
  .section{
  	height:680px;
  }
  .first-div{
  height: 650px;
}
  
  .div-title{
  	padding-top: 20px;
  	padding-left: 10px;
  	font-size:28px;

  	
  }
  .div-table{
  	margin-left:10px;
    width: 96%;
    height: 530px;
  }  
  
  .alignNumbers{
  	text-align: center;
  }

 input[type]{
    width: 630px;
    border: 3px solid #f2f2f2;
    height:20px;
    margin-top: 8px;
  
   }
  .signup{
      height: 650px;

  }
  .signupheading{
    position: relative;
    left: 10px;
    padding-top: 25px;
    font-size: 28px;

  }

  .formClass{
  margin-left: 10px;	
  }

  .insideTable{
    margin-top: 3px;

  }
  
  
  input[value="Register"]{
    color:white;
    background-color:black;
    height:40px;
    width: 92%;
  }

